.container {
    margin: 100px auto;
    text-align: center;
  }
  
  .btn-primary {
    background-color: blue;
    border-color: blue;
  }
  
  .btn-primary:hover {
    background-color: darkblue;
    border-color: darkblue;
  }
  
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 255, 0.5);
  }